SET NOCOUNT ON;
BEGIN TRANSACTION;
BEGIN TRY

	--強制執行中工單更新為一筆
	UPDATE CCDTA2 SET STSN=2 WHERE STSN=1 AND PDID != (SELECT TOP 1 PDID FROM CCDTA2 WHERE STSN=1 ORDER BY PDID DESC)
	IF((SELECT COUNT(*) FROM CCDTA2 WHERE STSN=1) <= 1) --只有一筆執行中工單時才能再繼續取工單, 避免AOI newbatch時閃退造成多筆執行中工單
		BEGIN
			DECLARE @TABLE TABLE (PDID INT,LOTSN VARCHAR(20),MPN VARCHAR(50),PARAM VARCHAR(20))
			--新增執行中
			INSERT INTO CCDTA2(LOTSN,MPN,PARAM,PFNUM,STSN,STIME,ETIME) 
			OUTPUT INSERTED.PDID,INSERTED.LOTSN,INSERTED.MPN,INSERTED.PARAM INTO @TABLE
			SELECT TOP 1 LOTSN,MPN,PARAM,PFNUM,1,GETDATE(),ETIME FROM CCDTA1 WHERE STSN=0 ORDER BY PDID ASC 
			--回傳工單內容
			SELECT * FROM @TABLE
			--移除待執行
			DELETE FROM CCDTA1 WHERE PDID=(SELECT TOP 1 PDID FROM CCDTA1 WHERE STSN=0 ORDER BY PDID ASC) 	
		END
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
	ROLLBACK TRANSACTION;
END CATCH

IF @@TRANCOUNT > 0  
COMMIT TRANSACTION;  
SET NOCOUNT OFF;  